.pagebody {
	BACKGROUND: url(Images/BodyBg2.gif) #fff repeat-x left top
}
.devpagebody {
	BACKGROUND: url(Images/BodyBg3.gif) #fff repeat-x left top
}
.landingbody {
	BACKGROUND: url(Images/BgLandingBody.gif) #ccc repeat-x left top
}
.smalltext {
	FONT-SIZE: 10px
}
.mediumtext {
	FONT-SIZE: 12px
}
.largetext {
	FONT-SIZE: 16px
}
.devsplash {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; MIN-HEIGHT: 650px; BACKGROUND: url(Images/BgSplashDev.png) no-repeat center top; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.wrapper {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 770px; PADDING-TOP: 0px
}
.landingholder {
	MIN-HEIGHT: 650px; BACKGROUND: url(Images/BgLandingHolder.gif) no-repeat center top
}
.landingmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(Images/BgMainTop.gif) no-repeat left top; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.landingcontent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 500px; BACKGROUND: url(Images/BgLandingMain.gif) #fff no-repeat left top; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.zone {
	CLEAR: both; DISPLAY: block
}
.section {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.topper {
	HEIGHT: 40px
}
.headerzone {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(Images/HeaderBg2.gif) repeat-x center top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.devpagebody .headerzone {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(Images/HeaderBg3.gif) repeat-x center top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.headerzone .wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 125px
}
.landingheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; WIDTH: 100%; PADDING-TOP: 15px
}
.logo {
	FLOAT: left; MARGIN: 30px 0px 0px 10px
}
.user {
	FONT-SIZE: 11px; FLOAT: left; MARGIN: 4px 4px 0px; TEXT-ALIGN: right
}
.username {
	COLOR: #fff
}
.user A {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; COLOR: #eee
}
.user A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; COLOR: #eee
}
.user A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; COLOR: #eee
}
.user A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 1.1em; COLOR: #eee
}
.user A:hover {
	FONT-WEIGHT: 800; COLOR: #333
}
.search {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 11px; BACKGROUND: url(Images/BgSearch.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 203px; COLOR: #aaa; PADDING-TOP: 6px; HEIGHT: 30px
}
.search .searchcontrol {
	BORDER-RIGHT: #ccc 1px; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 175px; COLOR: #aaa; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px
}
.search .searchbutton {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #aaa; PADDING-TOP: 0px
}
.navigation {
	MARGIN: 0px 0px 0.5em
}
.menubar {
	DISPLAY: block; FLOAT: left; MARGIN: 50px 0px 0px 10px
}
.menu {
	FLOAT: left
}
.secondmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; RIGHT: 0px; BACKGROUND: url(Images/HeaderTopLinksBg.gif) no-repeat right top; PADDING-BOTTOM: 0px; WIDTH: 365px; PADDING-TOP: 4px; POSITION: absolute; TOP: 0px
}
.devpagebody .secondmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; RIGHT: 0px; BACKGROUND: url(Images/HeaderTopLinksBg3.gif) no-repeat right top; PADDING-BOTTOM: 0px; WIDTH: 365px; PADDING-TOP: 4px; POSITION: absolute; TOP: 0px
}
.breadcrumb {
	PADDING-RIGHT: 2%; DISPLAY: block; PADDING-LEFT: 2%; FLOAT: left; PADDING-BOTTOM: 0.5em; WIDTH: 96%; PADDING-TOP: 0.5em
}
.main {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; MIN-HEIGHT: 250px; BACKGROUND: url(images/BgComponentShowcase.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 770px; PADDING-TOP: 0px
}
.content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.main .legacy {
	
}
.footerzone {
	PADDING-RIGHT: 0px; BORDER-TOP: #999 1px dotted; PADDING-LEFT: 0px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 0px; MARGIN: 2em 0px 0px; COLOR: #666; PADDING-TOP: 1em; TEXT-ALIGN: right
}
.footerzone P {
	TEXT-ALIGN: right
}
.layoutcolumn {
	PADDING-RIGHT: 0.25%; DISPLAY: block; PADDING-LEFT: 0.25%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.primary {
	FLOAT: right; WIDTH: 74%
}
.secondary {
	FLOAT: left; WIDTH: 24%
}
.splitcolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 50%; PADDING-TOP: 0px
}
.padded {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px
}
.alignleft {
	TEXT-ALIGN: left
}
.alignright {
	TEXT-ALIGN: right
}
.aligncenter {
	TEXT-ALIGN: center
}
.nodisplay {
	DISPLAY: none
}
.productbanner {
	CLEAR: both; PADDING-RIGHT: 1%; DISPLAY: block; PADDING-LEFT: 1%; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 98%; PADDING-TOP: 0px; BORDER-BOTTOM: #000 3px solid
}
.productpagebanner {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px dotted; HEIGHT: 35px
}
.productbanner H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.productpagebanner H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.productpagebanner H1 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.productbanner IMG {
	VERTICAL-ALIGN: middle
}
.productpagebanner IMG {
	VERTICAL-ALIGN: middle
}
.productbuttonholder {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 4px
}
.productbuttons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.productbanner .productbuttons {
	MARGIN: 10px 0px 0px; VERTICAL-ALIGN: bottom
}
.productpagebanner .productbuttons {
	MARGIN: 0px
}
.productbutton IMG {
	MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle
}
.productbuttonmore IMG {
	MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle
}
.productbuttonbig IMG {
	MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle
}
.productbuttonbigmore IMG {
	MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle
}
.productbutton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: url(images/BgButtonGlossDark.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; WIDTH: 100px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 34px; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.productbutton {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbutton:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbutton:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbutton:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
.productbutton:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #fff; TEXT-DECORATION: none
}
A.productbutton:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #fff; TEXT-DECORATION: none
}
.productbuttonmore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: url(images/BgButtonGlossLight.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; WIDTH: 100px; COLOR: #000; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 34px; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.productbuttonmore {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonmore:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonmore:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonmore:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
.productbuttonmore:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #000; TEXT-DECORATION: none
}
A.productbuttonmore:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #000; TEXT-DECORATION: none
}
.productbuttonbig {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: url(images/BgButtonGlossDarkWide.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; WIDTH: 180px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 34px; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.productbutton {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonbig:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonbig:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonbig:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
.productbuttonbig:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #fff; TEXT-DECORATION: none
}
A.productbuttonbig:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #fff; TEXT-DECORATION: none
}
.productbuttonbigmore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: url(images/BgButtonGlossLightWide.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; WIDTH: 180px; COLOR: #000; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 34px; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
A.productbuttonbigmore {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonbigmore:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonbigmore:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
A.productbuttonbigmore:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-DECORATION: none
}
.productbuttonbigmore:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #000; TEXT-DECORATION: none
}
A.productbuttonbigmore:hover {
	BACKGROUND-POSITION: left bottom; COLOR: #000; TEXT-DECORATION: none
}
.productlinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.productlinks LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.productlinkholder {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 2px; WIDTH: 265px; PADDING-TOP: 2px; HEIGHT: 80px
}
.tabpanel .productlinkholder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; WIDTH: 180px; PADDING-TOP: 4px; HEIGHT: 60px
}
.productlinkicon {
	FLOAT: left
}
.productlinkicon A {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(images/BgButtonSquareLight.gif) no-repeat left top; PADDING-BOTTOM: 12px; WIDTH: 30px; PADDING-TOP: 12px; HEIGHT: 30px
}
.productlinkicon A:link {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(images/BgButtonSquareLight.gif) no-repeat left top; PADDING-BOTTOM: 12px; WIDTH: 30px; PADDING-TOP: 12px; HEIGHT: 30px
}
.productlinkicon A:active {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(images/BgButtonSquareLight.gif) no-repeat left top; PADDING-BOTTOM: 12px; WIDTH: 30px; PADDING-TOP: 12px; HEIGHT: 30px
}
.productlinkicon A:visited {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: url(images/BgButtonSquareLight.gif) no-repeat left top; PADDING-BOTTOM: 12px; WIDTH: 30px; PADDING-TOP: 12px; HEIGHT: 30px
}
.productlinkicon A:hover {
	BACKGROUND-POSITION: left bottom
}
.productlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.productlinktitle {
	FONT-SIZE: 1em
}
.productlinktitle A {
	FONT-SIZE: 1.2em; COLOR: #000; LETTER-SPACING: -0.02em; TEXT-DECORATION: underline
}
.productlinktitle A:link {
	FONT-SIZE: 1.2em; COLOR: #000; LETTER-SPACING: -0.02em; TEXT-DECORATION: underline
}
.productlinktitle A:active {
	FONT-SIZE: 1.2em; COLOR: #000; LETTER-SPACING: -0.02em; TEXT-DECORATION: underline
}
.productlinktitle A:visited {
	FONT-SIZE: 1.2em; COLOR: #000; LETTER-SPACING: -0.02em; TEXT-DECORATION: underline
}
.productlinktitle A:hover {
	FONT-SIZE: 1.2em; TEXT-DECORATION: none
}
.tabpanel .productlinktitle A {
	FONT-SIZE: 0.9em; COLOR: #000; TEXT-DECORATION: underline
}
.tabpanel .productlinktitle A:link {
	FONT-SIZE: 0.9em; COLOR: #000; TEXT-DECORATION: underline
}
.tabpanel .productlinktitle A:active {
	FONT-SIZE: 0.9em; COLOR: #000; TEXT-DECORATION: underline
}
.tabpanel .productlinktitle A:visited {
	FONT-SIZE: 0.9em; COLOR: #000; TEXT-DECORATION: underline
}
.tabpanel .productlinktitle A:hover {
	FONT-SIZE: 0.9em; TEXT-DECORATION: none
}
.productlinktitle A SPAN {
	FONT-SIZE: 1.2em
}
.tabpanel .productlinktitle A SPAN {
	FONT-SIZE: 1em
}
.productlinkinfo {
	FONT-SIZE: 0.9em; WIDTH: 200px; COLOR: #666; LETTER-SPACING: -0.1em
}
.tabpanel .productlinkinfo {
	FONT-SIZE: 0.9em; WIDTH: 110px
}
.productmini {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 2px; TEXT-ALIGN: center
}
.productmini A {
	DISPLAY: block; FONT-SIZE: 0.8em; COLOR: #000; TEXT-DECORATION: none
}
.productmini A:link {
	DISPLAY: block; FONT-SIZE: 0.8em; COLOR: #000; TEXT-DECORATION: none
}
.productmini A:active {
	DISPLAY: block; FONT-SIZE: 0.8em; COLOR: #000; TEXT-DECORATION: none
}
.productmini A:visited {
	DISPLAY: block; FONT-SIZE: 0.8em; COLOR: #000; TEXT-DECORATION: none
}
.productmini A:hover {
	DISPLAY: block; FONT-SIZE: 0.8em; COLOR: #000; TEXT-DECORATION: none
}
.productmini A IMG {
	DISPLAY: block
}
.productmini A SPAN {
	DISPLAY: block; FONT-SIZE: 1.2em
}
.storefeaturedproduct {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; BACKGROUND: url(Images/BgFadeLightTall.gif) #fff repeat-x left bottom; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.storeproductsmall {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #ccc 1px dotted; PADDING-TOP: 5px
}
.storeproduct {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
.componentlinkholder {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px 5px 0px; PADDING-TOP: 2px
}
.componentlinktitle {
	FONT-SIZE: 12px
}
.componentlinktitle A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; COLOR: #c00; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.componentlinktitle A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; COLOR: #c00; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.componentlinktitle A:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; COLOR: #c00; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.componentlinktitle A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; COLOR: #c00; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.componentlinktitle A:hover {
	
}
.componentlinkinfo {
	FONT-SIZE: 10px
}
.componentcontrols UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.componentcontrols UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.producttree {
	FONT-SIZE: 1em
}
.treegroup {
	
}
.treetop {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 12px; BACKGROUND: url(images/BgButtonGlossLightWide.gif) no-repeat left top; PADDING-BOTTOM: 4px; MARGIN: 0px 2px; WIDTH: 176px; COLOR: #000; PADDING-TOP: 4px; HEIGHT: 26px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.treetop IMG {
	MARGIN-RIGHT: 5px
}
.treeitem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: underline
}
.treeitemhover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.treeitemselected {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #999; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.treeitem IMG[id] {
	DISPLAY: none
}
.treeitemhover IMG[id] {
	DISPLAY: none
}
.treeitemselected IMG[id] {
	DISPLAY: none
}
.treeitem IMG {
	DISPLAY: block
}
.featuregrid {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-STYLE: none
}
.featuregird TR {
	
}
.featuregrid TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: center
}
.featuregrid .headtitlecell {
	TEXT-ALIGN: left
}
.featuregrid TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.featuregrid .infocell {
	FONT-STYLE: italic; TEXT-ALIGN: left
}
.detaillist {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.detaillist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
.detailtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.15em; PADDING-BOTTOM: 2px; MARGIN: 2px 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dotted
}
.detailinfo {
	FONT-SIZE: 1em; COLOR: #666
}
.newfeature {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-TOP: 2px
}
.newfeature H4 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: 900; FONT-SIZE: 1em; BACKGROUND: url(images/IconCheckNew16.gif) no-repeat left top; PADDING-BOTTOM: 2px; COLOR: #666; PADDING-TOP: 2px; LETTER-SPACING: -0.05em; TEXT-DECORATION: none
}
.newfeature P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.screenshot {
	PADDING-RIGHT: 1%; DISPLAY: block; PADDING-LEFT: 1%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 98%; PADDING-TOP: 5px
}
.screenshotimage {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.screenshotinfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; MAX-WIDTH: 325px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.showcase {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.showcase A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px 10px; PADDING-TOP: 5px
}
.showcase A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px 10px; PADDING-TOP: 5px
}
.showcase A:active {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px 10px; PADDING-TOP: 5px
}
.showcase A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px 10px; PADDING-TOP: 5px
}
.blurb {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4%; BORDER-TOP: #000 1px solid; DISPLAY: block; PADDING-LEFT: 4%; BACKGROUND: url(images/MaskDarkBg.png); FLOAT: left; PADDING-BOTTOM: 2em; MARGIN: 1em 2%; BORDER-LEFT: #000 1px solid; WIDTH: 87%; PADDING-TOP: 2em; BORDER-BOTTOM: #000 1px solid
}
* HTML .blurb {
	BACKGROUND: #000
}
.tabholder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/BgShowcaseBannerShort.gif) no-repeat left top; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 220px
}
.tablinkholder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 184px; PADDING-TOP: 6px
}
.tabholder UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.tabholder LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A.tablink {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 1.2em; BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 173px; COLOR: #333; LINE-HEIGHT: 39px; PADDING-TOP: 0px; HEIGHT: 39px; TEXT-DECORATION: none
}
A.tablink:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 1.2em; BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 173px; COLOR: #333; LINE-HEIGHT: 39px; PADDING-TOP: 0px; HEIGHT: 39px; TEXT-DECORATION: none
}
A.tablink:active {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 1.2em; BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 173px; COLOR: #333; LINE-HEIGHT: 39px; PADDING-TOP: 0px; HEIGHT: 39px; TEXT-DECORATION: none
}
A.tablink:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 1.2em; BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 173px; COLOR: #333; LINE-HEIGHT: 39px; PADDING-TOP: 0px; HEIGHT: 39px; TEXT-DECORATION: none
}
A.tablink IMG {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
A.tablink:hover {
	BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left center; COLOR: #666; TEXT-DECORATION: none
}
A.tablinkactive:hover {
	BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left top; COLOR: #fff
}
A.tablinkactive {
	BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left top; COLOR: #fff; TEXT-DECORATION: none
}
A.tablinkactive:link {
	BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left top; COLOR: #fff; TEXT-DECORATION: none
}
A.tablinkactive:active {
	BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left top; COLOR: #fff; TEXT-DECORATION: none
}
A.tablinkactive:visited {
	BACKGROUND: url(images/BgShowcaseTabs3.gif) no-repeat left top; COLOR: #fff; TEXT-DECORATION: none
}
.tabpanelwrapper {
	FLOAT: left; WIDTH: 583px
}
.tabpanelholder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 0px
}
.tabpanel {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 579px; COLOR: #666; PADDING-TOP: 5px; HEIGHT: 215px
}
.valuetabholder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/BgProductShowcase.gif) no-repeat left top; PADDING-BOTTOM: 0px; WIDTH: 770px; PADDING-TOP: 0px; HEIGHT: 280px
}
.valuetablinkholder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/BgProductShowcaseTabs.gif) repeat-x left top; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 770px; PADDING-TOP: 0px; HEIGHT: 64px
}
.valuetabholder .C1TabStrip {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/BgProductShowcaseTabs.gif) repeat-x left top; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 770px; PADDING-TOP: 0px; HEIGHT: 64px
}
.valuetabholder .valuetabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.valuetabholder .C1List {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.valuetabs LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.valuetabholder .C1ListItem {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A.valuetablink {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.valuetablink:link {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.valuetablink:active {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.valuetablink:visited .valuetabholder .C1Link {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.valuetabholder .C1Link:link {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.valuetabholder .C1Link:active {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.valuetabholder .C1Link:visited {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 144px; COLOR: #666; PADDING-TOP: 20px; HEIGHT: 38px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.valuetablink:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000; TEXT-DECORATION: none
}
.valuetabholder .C1Link:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000; TEXT-DECORATION: none
}
A.valuetablinkactive:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.valuetabholder .C1Selected:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
A.valuetablinkactive {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
A.valuetablinkactive:link {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
A.valuetablinkactive:active {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
A.valuetablinkactive:visited {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
.valuetabholder .C1Selected {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
.valuetabholder .C1Selected:link {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
.valuetabholder .C1Selected:active {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
.valuetabholder .C1Selected:visited {
	BACKGROUND: #fff; COLOR: #000; TEXT-DECORATION: none
}
.valuetabpanelwrapper {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; WIDTH: 750px; PADDING-TOP: 5px; HEIGHT: 211px
}
.valuetabpanelholder {
	PADDING-RIGHT: 1%; PADDING-LEFT: 1%; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 98%; PADDING-TOP: 0px; HEIGHT: 0px
}
.valuetabpanel {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 5px
}
.componentbanner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.componentholder {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.C1Accordion {
	CLEAR: left; MARGIN: 0px 1px
}
.C1Accordion H2 {
	FONT-SIZE: 14px; TEXT-TRANSFORM: uppercase; COLOR: #999
}
.C1Accordion .C1AccordionPane {
	MARGIN: 0px 4px 0px 0px
}
.C1Accordion DIV.C1HeaderPanel {
	CURSOR: pointer
}
.C1Accordion DIV.C1ContentPanel {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: url(Images/BgFadeLightTall.gif) #fff repeat-x left bottom; PADDING-BOTTOM: 2px; MARGIN: 4px 0px; BORDER-LEFT: #ccc 1px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 140px
}
.C1Accordion DIV.C1ContentPanel .C1Content {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 202px; PADDING-TOP: 4px
}
.split {
	WIDTH: 48%
}
.news {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 0px 1.5em; WIDTH: 100%
}
.newshead {
	PADDING-RIGHT: 2%; DISPLAY: block; PADDING-LEFT: 2%; BACKGROUND: url(images/HeadingBg.gif) #fff repeat-x left center; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: 96%; PADDING-TOP: 0.3em
}
.events {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 0px 1.5em; WIDTH: 100%
}
.eventhead {
	PADDING-RIGHT: 2%; DISPLAY: block; PADDING-LEFT: 2%; BACKGROUND: url(images/HeadingBg.gif) #fff repeat-x left center; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: 96%; PADDING-TOP: 0.3em
}
.expander {
	DISPLAY: block; FLOAT: left; MARGIN: 0px; WIDTH: 100%
}
.expandbutton {
	BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 1%; BORDER-TOP: #555 1px solid; DISPLAY: block; PADDING-LEFT: 1%; FONT-WEIGHT: 100; FONT-SIZE: 0.9em; BACKGROUND: #444; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #555 1px solid;PADDING-TOP: 0.2em; BORDER-BOTTOM: #555 1px solid
}
A.expandbutton {
	BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 1%; BORDER-TOP: #555 1px solid; DISPLAY: block; PADDING-LEFT: 1%; FONT-WEIGHT: 100; FONT-SIZE: 0.9em; BACKGROUND: #444; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #555 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #555 1px solid
}
A.expandbutton:hover {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BACKGROUND: #555; BORDER-LEFT: #666 1px solid; COLOR: #fff; BORDER-BOTTOM: #666 1px solid
}
.expandpanel {
	
}
.part {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; BACKGROUND: url(images/FeatureBg.png) repeat-x left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.titlebar {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-WEIGHT: 100; FONT-SIZE: 1em; BACKGROUND: url(images/HeadingBg.gif) #fff repeat-x left center; PADDING-BOTTOM: 0.4em; COLOR: #fff; PADDING-TOP: 0.4em
}
.part .titlebar {
	MARGIN: -0.2em -0.2em 0px
}
* HTML .part {
	BACKGROUND: url(images/FeatureBg.gif) #fff repeat-x left top
}
.popup {
	BORDER-RIGHT: #000 4px solid; PADDING-RIGHT: 1.5em; BORDER-TOP: #000 4px solid; PADDING-LEFT: 1.5em; BACKGROUND: #000; PADDING-BOTTOM: 1.5em; BORDER-LEFT: #000 4px solid; WIDTH: 20em; COLOR: #fff; PADDING-TOP: 1.5em; BORDER-BOTTOM: #000 4px solid
}
.popup .titlebar {
	MARGIN: -1.5em -1.5em 0.5em; CURSOR: move
}
.popupbg {
	FILTER: alpha(opacity=50); BACKGROUND-COLOR: #fff; opacity: .5; -moz-opacity: 0.5; -khtml-opacity: 0.5
}
.loading {
	BORDER-RIGHT: #999 4px solid; PADDING-RIGHT: 10px; BORDER-TOP: #999 4px solid; PADDING-LEFT: 10px; FONT-SIZE: 18px; BACKGROUND: #fff; FILTER: alpha(opacity=85); LEFT: 40%; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; BORDER-LEFT: #999 4px solid; WIDTH: 150px; PADDING-TOP: 10px; BORDER-BOTTOM: #999 4px solid; POSITION: fixed; TOP: 40%; opacity: .85; -moz-opacity: 0.85; -khtml-opacity: 0.85
}
.loading EM {
	VERTICAL-ALIGN: middle
}
.C1Expander {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.C1Expander-C1Bottom {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.C1Expander-C1Bottom .C1eHeaderPanel {
	CLEAR: both; BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0px; MIN-HEIGHT: 20px; BACKGROUND: url(Images/BgHeader.gif) repeat-x left bottom; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
.C1Expander-C1Bottom .C1Hover {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url(Images/BgHeader.gif) repeat-x left top; BORDER-LEFT: #fff 1px solid; COLOR: #900; BORDER-BOTTOM: #fff 1px solid
}
.C1Expander-C1Bottom .C1Active {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND: url(Images/BgHeader.gif) repeat-x left bottom; BORDER-LEFT: #000 1px solid; COLOR: #fff; BORDER-BOTTOM: #000 1px solid
}
.C1Expander-C1Bottom .C1Opened-C1eHeaderPanel {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url(Images/BgHeader.gif) repeat-x left bottom; BORDER-LEFT: #fff 1px solid; COLOR: #fff; BORDER-BOTTOM: #fff 1px solid
}
.C1Expander-C1Bottom .C1Opened-C1Hover-C1eHeaderPanel {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url(Images/BgHeader.gif) repeat-x left top; BORDER-LEFT: #fff 1px solid; COLOR: #900; BORDER-BOTTOM: #fff 1px solid
}
.C1Expander-C1Bottom .C1Opened-C1Active-C1Hover-C1eHeaderPanel {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND: url(Images/BgHeader.gif) repeat-x left bottom; BORDER-LEFT: #000 1px solid; COLOR: #fff; BORDER-BOTTOM: #000 1px solid
}
.C1Expander-C1Bottom .C1eHeaderPanel .C1eOuter {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.C1Expander-C1Bottom .C1eHeaderPanel .C1eInner {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.C1Expander-C1Bottom .C1eHeaderPanel .C1eContent {
	CLEAR: both; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(Images/BgHeaderArrowDown.gif) no-repeat right bottom; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px
}
.C1Expander-C1Bottom .C1Hover .C1eContent {
	CLEAR: both; DISPLAY: block; BACKGROUND: url(Images/BgHeaderArrowDown.gif) no-repeat right top; FLOAT: none; MARGIN: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 28px; HEIGHT: 28px
}
.C1Expander-C1Bottom .C1Active .C1eContent {
	BACKGROUND: url(Images/BgHeaderArrowDown.gif) no-repeat right bottom
}
.C1Expander-C1Bottom .C1Opened-C1eHeaderPanel .C1eContent {
	BACKGROUND: url(Images/BgHeaderArrowUp.gif) no-repeat right bottom
}
.C1Expander-C1Bottom .C1Opened-C1Hover-C1eHeaderPanel .C1eContent {
	BACKGROUND: url(Images/BgHeaderArrowUp.gif) no-repeat right top
}
.C1Expander-C1Bottom .C1Opened-C1Active-C1Hover-C1eHeaderPanel .C1eContent {
	BACKGROUND: url(Images/BgHeaderArrowUp.gif) no-repeat right bottom
}
.C1Expander-C1Bottom .C1eHeaderPanel .C1eContent H1 {
	FONT-SIZE: 18px; COLOR: #fff
}
.C1Expander-C1Bottom .C1Hover .C1eContent H1 {
	FONT-SIZE: 18px; COLOR: #000
}
.C1Expander-C1Bottom .C1Opened-C1eHeaderPanel .C1eContent H1 {
	FONT-SIZE: 18px; COLOR: #000
}
.C1Expander-C1Bottom .C1eContentPanel {
	CLEAR: both; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: #fff; FLOAT: none; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.glowpanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.glowpanel .headerpanel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(images/BgGlowPanelTopRight.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.glowpanel .headerpanel .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(images/BgGlowPanelTopLeft.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 10px
}
.glowpanel .contentpanel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(images/BgGlowPanelBottomRight.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.glowpanel .contentpanel .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(images/BgGlowPanelBottomLeft.gif) no-repeat left bottom; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.glowpanelgold .headerpanel {
	BACKGROUND: url(images/BgGlowPanelTopRightGold.gif) no-repeat right top
}
.glowpanelgold .headerpanel .content {
	BACKGROUND: url(images/BgGlowPanelTopLeftGold.gif) no-repeat left top
}
.glowpanelgold .contentpanel {
	BACKGROUND: url(images/BgGlowPanelBottomRightGold.gif) no-repeat right bottom
}
.glowpanelgold .contentpanel .content {
	BACKGROUND: url(images/BgGlowPanelBottomLeftgold.gif) no-repeat left bottom
}
.glowpanelblue .headerpanel {
	BACKGROUND: url(images/BgGlowPanelTopRightblue.gif) no-repeat right top
}
.glowpanelblue .headerpanel .content {
	BACKGROUND: url(images/BgGlowPanelTopLeftblue.gif) no-repeat left top
}
.glowpanelblue .contentpanel {
	BACKGROUND: url(images/BgGlowPanelBottomRightblue.gif) no-repeat right bottom
}
.glowpanelblue .contentpanel .content {
	BACKGROUND: url(images/BgGlowPanelBottomLeftblue.gif) no-repeat left bottom
}
.productslisting .glowpanel {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
.pagecontent {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; MIN-HEIGHT: 350px; BACKGROUND: url(images/BgPageTabContent.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 760px; PADDING-TOP: 5px
}
.pagetabs {
	CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 178px; PADDING-TOP: 10px
}
.pagetabs .pagetabslist UL {
	CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 178px; PADDING-TOP: 0px
}
.pagetabs .pagetabslist LI {
	CLEAR: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 176px; PADDING-TOP: 2px
}
.pagetabs .pagetabslist LI A {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #333; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI A:link {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #333; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI A:active {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #333; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI A:visited {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #333; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI A:hover {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left center; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #333; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI.active A {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI.active A:link {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI.active A:active {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI.active A:visited {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabs .pagetabslist LI.active A:hover {
	CLEAR: left; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/BgPageTab.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 158px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 24px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagetabcontent {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 568px; PADDING-TOP: 10px
}
.pagesidecontent {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 172px; PADDING-TOP: 8px
}
.fade-100 {
	FILTER: alpha(opacity=99); opacity: .99; -moz-opacity: 0.99; -khtml-opacity: 0.99
}
.fade-75 {
	FILTER: alpha(opacity=75); opacity: .75; -moz-opacity: 0.75; -khtml-opacity: 0.75
}
.fade-50 {
	FILTER: alpha(opacity=50); opacity: .5; -moz-opacity: 0.5; -khtml-opacity: 0.5
}
.fade-25 {
	FILTER: alpha(opacity=25); opacity: .25; -moz-opacity: 0.25; -khtml-opacity: 0.25
}
.nodisplay {
	DISPLAY: none
}
#ImageBoxOverlay {
	MIN-HEIGHT: 600px; FILTER: alpha(opacity=50); BACKGROUND-COLOR: #000; opacity: .5; -moz-opacity: 0.5; -khtml-opacity: 0.5
}
#ImageBoxCaption {
	BACKGROUND-COLOR: #f4f4ec
}
#ImageBoxContainer {
	WIDTH: 250px; HEIGHT: 250px; BACKGROUND-COLOR: #f4f4ec
}
#ImageBoxCaptionText {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; COLOR: #000
}
#ImageBoxCaptionImages {
	MARGIN: 0px
}
#ImageBoxNextImage {
	BACKGROUND-IMAGE: url(images/spacer.gif); BACKGROUND-COLOR: transparent
}
#ImageBoxPrevImage {
	BACKGROUND-IMAGE: url(images/spacer.gif); BACKGROUND-COLOR: transparent
}
#ImageBoxNextImage:hover {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(images/next_image.jpg); BACKGROUND-REPEAT: no-repeat
}
#ImageBoxPrevImage:hover {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(images/prev_image.jpg); BACKGROUND-REPEAT: no-repeat
}
