* {
	FONT-FAMILY: Segoe UI, Myriad, Myriad Pro, Calibri, Arial, Sans-Serif
}
FORM 
{
	
}

TABLE 
{
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}

TD 
{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}

H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; COLOR: #ccc; PADDING-TOP: 0px
}

H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ccc; PADDING-TOP: 0px
}

H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #aaa; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 100; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 12px; BACKGROUND: url(images/BgArrow16Tall.gif) no-repeat left top; PADDING-BOTTOM: 2px; MARGIN: 1px 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
OL {
	
}
OL LI {
	
}
P {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0.2em
}
BLOCKQUOTE {
	MARGIN: 0.2em 1em; FONT-STYLE: italic
}
SPAN {
	
}
/*
A {
	COLOR: #c00; TEXT-DECORATION: underline; outline: none
}
A:link {
	COLOR: #c00; TEXT-DECORATION: underline; outline: none
}
A:active {
	COLOR: #c00; TEXT-DECORATION: underline; outline: none
}
A:visited {
	COLOR: #c00; TEXT-DECORATION: underline; outline: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}*/
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
P IMG {
	FLOAT: left; MARGIN: 5px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
LEGEND {
	CLEAR: both; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: 100; FONT-SIZE: 18px; BACKGROUND: url(images/BgHeadingUnderline.gif) repeat-x left bottom; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 2px; VERTICAL-ALIGN: bottom; COLOR: #999; PADDING-TOP: 2px
}
LABEL {
	
}
INPUT {
	
}
TEXTAREA {
	
}
SELECT {
	
}
BUTTON {
	
}
